microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true

  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    path: /idpayinitiativestatistics/(.*)
    servicePort: 8080

  serviceAccount:
    create: false
    annotations: { }
    name: ""

  podAnnotations: { }

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  envConfig:
    MONGODB_DBNAME: "idpay"
    APPLICATIONINSIGHTS_ROLE_NAME: "idpayinitiativestatistics"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    KAFKA_ONBOARDING_OUTCOME_CONSUMER_GROUP: "idpay-initiative-onboarding-statistics-group"
    KAFKA_MERCHANT_COUNTERS_REWARD_NOTIFICATION_GROUP_ID: "idpay-merchant-counters-notification-group"
    KAFKA_COMMANDS_GROUP_ID: "idpay-commands-statistics-consumer-group"
    DELETE_PAGINATION_SIZE: "100"
    DELETE_DELAY_TIME: "1000"
    HEALTH_MONGO_ENABLED: "false"

  externalConfigMapValues:
    idpay-common:
      TZ: TZ
    idpay-eventhub-00:
      KAFKA_OUTCOME_SERVERS_00: kafka_broker
      KAFKA_SASL_MECHANISM: kafka_sasl_mechanism
      KAFKA_SECURITY_PROTOCOL: kafka_security_protocol
      KAFKA_ONBOARDING_OUTCOME_TOPIC: idpay_onboarding_outcome_topic
      KAFKA_TRANSACTION_EVALUATION_TOPIC: idpay_transaction_topic

    idpay-eventhub-01:
      KAFKA_REWARD_NOTIFICATION_SERVERS: kafka_broker
      KAFKA_REWARD_NOTIFICATION_TOPIC: idpay_reward_notification_response_topic
      KAFKA_ERROR_MESSAGE_SERVERS: kafka_broker
      KAFKA_ERROR_MESSAGE_TOPIC: idpay_error_topic
      KAFKA_COMMANDS_SERVERS: kafka_broker
      KAFKA_COMMANDS_TOPIC: idpay_commands_topic

  envSecret:
    MONGODB_URI: mongodb-connection-string
    KAFKA_ONBOARDING_OUTCOME_SASL_JAAS_CONFIG: evh-idpay-onboarding-outcome-idpay-onboarding-outcome-consumer-jaas-config-idpay-00
    KAFKA_TRANSACTION_EVALUATION_SASL_JAAS_CONFIG: evh-idpay-transaction-idpay-transaction-consumer-jaas-config-idpay-00
    KAFKA_REWARD_NOTIFICATION_SASL_JAAS_CONFIG: evh-idpay-reward-notification-response-idpay-reward-notification-response-consumer-jaas-config-idpay-01
    KAFKA_ERROR_MESSAGE_SASL_JAAS_CONFIG: evh-idpay-errors-idpay-errors-consumer-jaas-config-idpay-01
    KAFKA_COMMANDS_SASL_JAAS_CONFIG: evh-idpay-commands-idpay-commands-consumer-jaas-config-idpay-01

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json